* {
  --grey: #F2F2F2;
  --beige: #EDE6DB;
  --teal: #066163;
  --black: #383838;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  min-width: 900px;
  max-width: 1200px;
  padding: 30px 30px;
  background-color: var(--grey);
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

form {
  width: 100%;
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-block: 15px;
  border-bottom: 3px dotted var(--black);
}

section .delete-field-btn {
  visibility: hidden;
}

section:hover .delete-field-btn {
  visibility: visible;
}

section h1 {
  color: var(--teal);
  font-weight: bolder;
  text-align: center;
  width: 15ch;
}

.delete-field-btn {
  position: absolute;
  margin-top: 5px;
  top: 0;
  right: 0;
  background-color: lightcoral;
  color: black;
  font-weight: bold;
  border-radius: 3px;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
}

.section-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.section-input>div {
  display: flex;
  flex-direction: row;
}

main label {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--teal);
}

main input {
  margin-top: 5px;
  margin-left: 10px;
  background-color: var(--beige);
  height: 1.8rem;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

main input:disabled {
  background-color: var(--grey);
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
}

.BasicInput {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-inline: 20px;
  margin-block: 10px;
  width: fit-content;
}

.extra-small-input {
  width: 20%;
  margin-inline: 5px;
}

.small-input {
  width: 30%;
  margin-inline: 5px;
}

.medium-input {
  width: 70%;
}

.big-input {
  width: 100%;
}

.add-field-btn-container {
  display: flex;
  justify-content: flex-start;
}

.add-field-btn {
  border: 2px solid black;
  border-top: none;
  background-color: var(--teal);
  color: var(--grey);
  font-weight: bold;
  padding: 7px;
  border-radius: 0px 0px 10px 10px;
  margin-inline: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-field-btn:hover {
  padding-top: 17px;
  margin-bottom: 0px;
  transition: all 0.2s ease;
}

#submit-btn {
  margin-top: 20px;
  background-color: var(--black);
  color: var(--grey);
  font-weight: bold;
  padding-inline: 15px;
  padding-block: 5px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#submit-btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px black;
  transition: all 0.2s ease;
}
