* {
  --grey: #F2F2F2;
  --beige: #EDE6DB;
  --teal: #066163;
  --black: #383838;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 30px 50px;
  background-color: var(--grey);
  box-shadow: 4px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding-block: 15px;
  border-bottom: 3px dotted var(--black);
}

section h1 {
  color: var(--teal);
  font-weight: bolder;
  text-align: center;
  width: 15ch;
}

.section-input {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.section-input>div {
  display: flex;
  flex-direction: row;
}

main label {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--teal);
}

main input {
  margin-top: 5px;
  margin-left: 10px;
  background-color: var(--beige);
  height: 1.8rem;
  font-size: 1rem;
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.BasicInput {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  margin-inline: 20px;
  margin-block: 10px;
  width: fit-content;
}

.extra-small-input {
  width: 20%;
  margin-inline: 5px;
}

.small-input {
  width: 30%;
  margin-inline: 5px;
}

.medium-input {
  width: 70%;
}

.big-input {
  width: 100%;
}
